.root{
    generic-background: #262626;
    second-background: #1C1F22;
    succes: rgba(0, 204, 0, 0.2);
    error: rgba(255,0,0,0.2);
    generic-text: #cccccc;
    second-text: #8c8c8c;
    -fx-background-color: generic-background;
}

* {
    -fx-background-color: transparent;
    -fx-text-fill: generic-text;
}
.label{
    -fx-fill-color: generic-text;
}

MenuBar{
    -fx-min-width: infinity;
    -fx-padding: 0px;
}

.button{
    -fx-text-fill: generic-text;
    -fx-background-color: second-background;
}
#contentView > *{
    -fx-background-color: second-background;
}
.registersView > *{
    -fx-background-color: generic-background !important;
}



